body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #2c3e50, #3498db);
    color: white;
    text-align: center;
    
  background: url('https://www.beltecno-global.com/hs-fs/hubfs/National_mission_for_clean_ganga.jpg?width=1280&name=National_mission_for_clean_ganga.jpg') no-repeat center center fixed;
  background-size: cover;
    margin: 0;
    padding: 0;
}
.container {
    width: 50%;
    margin: 50px auto;
    background: rgba(252, 199, 139, 0.735);
    color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #0e243a;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
    font-weight: bold;
}

input, select, textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #3498db;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #2c3e50;
}


#previewImage {
    width: 100%;
    max-height: 200px;
    margin-top: 10px;
}